<!-- The sidebar -->
<div class="sidebar-left  bg-secondary">

  <div class="clear">
    <a class="btn btn-success" data-toggle="collapse" href="#feedNewsCollapsePanel" role="button" aria-expanded="false" aria-controls="feedNewsCollapsePanel">
      Toggle Verbose Mode!
    </a>
  </div>

  <%- include("../components/index_left_feed_news_component"); %>

</div>
