

<div class="list-group collapse show" id="feedNewsCollapsePanel" style="overflow-y: auto; margin-top: 10px;height: 95%;">

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start  bg-secondary text-light" style="border-left: 6px solid red;">
    <small class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
  </a>

</div>
