<div class="index-card text-center" style="border-right: 6px solid red; margin-top:10px">
  <img class="index-card-image" src="https://picsum.photos/200/200?random" alt="Avatar" width="200" height="200">
  <div class="index-card-container">
    <h4 class="text-warning"><b>John Doe</b></h4>
    <p class="text-light">Architect & Engineer</p>
  </div>
</div>
